body {
  font-family: serif;
  background-color: gray;
  padding-top: 10px;
}
#nav ul {
  	margin: auto;
}
nav {
	font-family: monospace;
  	border-radius: 15px;
  	font-size: 20px;
}
#nav ul {
	padding: 10px 20px;	
	}
#nav ul li {
    margin: 10;
    padding: 15;
}
#nav ul li a {
    padding: 10px 10px;
    color: white;
}
#darkpg {
  background: #999;
}
#darkerpg {
  background: #666;
}
#darkestpg {
  background: #333;
}
/* The dropdown container */
#dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
#dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.row {
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.form-group {
	margin-top: 25px;
	background-color: white;
	border-radius: 15px;
}
#logininput {
  padding: 0 30% 0 30%;
}
#submitb {
  left: 30%;
  width:300px; 
  position:relative;

}